<html>
  <head>
    <title>Create contact page</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="post" action="/contacts">
      <input type="text" name="name" placeholder="Имя"><br>
      <input type="email" name="email" placeholder="E-mail">
      <input type="submit" value="Create contact">
    </form>
  </body>
</html>
