<html>
  <head>
    <title>
      Create faq question
    </title>
  </head>
  <body>
    <form method="post" action="/faq">
      <input type="text" name="title" placeholder="Заголовок"><br>
      <textarea name="text" placeholder="Текст"></textarea><br>
      <input type="submit" value="Create FAQ question">
    </form>
  </body>
</html>
