<html>
  <head>
    <title>
      Welcome page
    </title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      This is my favorite blog!
    </p>

    <p>
      <a href="/posts">Here is posts list</a><br>
      <a href="/contacts">Here is contacts list</a><br>
      <a href="/faq">Here is FAQ</a>
    </p>
  </body>
</html>
